  </body>
  <div class="hobbies">
    <h1>
      Mijn Hobbies
       </h1>
        <ul>
          <li>Ik houd van zingen, dansen, zeilen, reizen,<br>
             tekenen en demonstreren voor goede doelen.
          </li>
        </ul>
   </div>
  </article>
</html>