<%- include('./partials/head') %>

<img src="assets/Flag_of_Italy.svg.png" alt="Flag of Italy" id="foto1">

<img src="assets/image.png" alt="Profile photo">
<img src="assets/napoligolfo.jpg" alt="Napels" id="foto3">


<div>
<h1>
  Mijn Skills
   </h1>
    <ul>
      <li>Ik spreek Italiaans, Spaans, Frans, Nederlands, <br>
         Engels en  
         Arabish
      
      <li> Nu leer ik programmeer talen zoals JavaScript! <br>
      En ik vind het heel spannend!</li>
    </ul>
</div>


<%- include('./partials/foot') %>
